.account-page {
  .account-page__inner {
    width: 100vw;
    height:120vh;
    background-image:url("signimage2.jpg");
    border: 1px solid;

    .account-page__inner--left{
      margin-top:80px;
      margin-left:220px;
      width: 1000px;
      background:white;
      border-radius: 10px 10px 0 0;
      border: 1px solid;
      border-bottom:none;
      height:30%;
    }
    .account-page__inner--right {

      margin-left:220px;
      width: 1000px;
      height:60%;
      background:white;
      border: 1px solid;
      border-top:none;
      border-radius: 0 0 10px 10px;
    }
    &:after {
      clear: both;
      content: "";
      display: block;
    }
  }

  .account-page__header {
    h2 {
      margin-left:400px;
      margin-top: 30px;
      margin-bottom:10px;
      letter-spacing: 3px;
      font-size: 40px;
      font-weight: 400;

      &:after {
        content: '';
        display: block;
        width: 60px;
        margin-top: 5px;
      }
    }

    h5 {
      
      font-size: 14px;
      font-weight: 200;
      margin-left:420px;
    }
    a{
      text-decoration:none;
      color:white;
    }

    .btn {
      float:right;
      margin-right:150px;
      color: #fff;
      background-color: #00a968;
      font-size: 16px;
    }
  }

  .field {
    margin-bottom: 10px;

    .field-label {
      padding: 10px 0;
      letter-spacing: 1px;
      font-size: 14px;
      font-weight: 200;
      margin-left:250px;
      

      i {
        font-size: 11px;
      }
    }

    .field-input {
      input {
        width: 500px;
        margin-left:250px;
        padding: 10px;
        letter-spacing: 1px;
      }
    }
  }

  .btn {
    display: inline-block;
    font-size:16px;
    height: 50px;
    padding: 0 30px;
    line-height: 50px;
    letter-spacing: 1px;
    text-align: center;
    border: none;
    border-radius: 2px;
    margin-left:440px;
    margin-top:20px;
    background-color: #00a968;
  }
  a{
    text-decoration:none;
    color:white;
  }

  input[type='submit'] {
    float: left;
    margin-top: 20px;
    color: #fff;
    background-color: #00a968;
  }

  .field-label {
    .field_with_errors {
      display: inline-block;
      color: #d65f4c;
      font-weight: 400;
    }
  }

  .field-input {
    .field_with_errors {
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 5px;
        background-color: #d65f4c;
      }
    }
  }
}

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;

  h2 {
    margin-bottom: 10px;
    color: #d65f4c;
    font-size: 14px;
  }

  ul {
    margin: 0;
    padding-left: 17px;
    list-style: square;
  }

  li {
    margin: 0;
    padding: 0;
    font-size: 13px;
  }
}
